export TS_AUTHKEY=''
export TS_TAGS=''
export CODE_SERVER_PASSWORD=''
export OPENCODE_WEB_PASSWORD=''
export OPENCODE_WEB_USERNAME='opencode'
export OPENCODE_GO_KEY=''
export GIT_SSH_PRIVATE_KEY=''
export GIT_REPO=''
export GITHUB_PERSONAL_ACCESS_TOKEN=''
export E2B_API_KEY=''
export FIRECRAWL_API_KEY=''
