{
  "workbench.colorTheme": "Moss & Stone",
  "workbench.iconTheme": "material-icon-theme",
  "editor.minimap.enabled": false,
  "window.menuBarVisibility": "classic",
  "window.commandCenter": false,

  /*
  "terminal.integrated.lineHeight": 1,
  "terminal.integrated.letterSpacing": 0,
  "terminal.integrated.tabs.enabled": false
  */
}
